.navbar__container {
  position: absolute;
  bottom: 40px;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 10px 21px 5px rgba(0,0,0,0.1);
  padding: 8px 15px;
  gap: 5px;
  border-radius: 12px;
  display: flex;
  align-items: center;

  .MuiButton-root{
    text-transform: capitalize;
    color: #5a5a5a;
    transition: .3s all ease-in-out;
    gap: 5px;

    &.active{
        color: #3a3a3a;
        font-weight: 600;
    }
  }
}
